[submodule "Src/External/Vulkan-Headers"]
	path = Src/External/Vulkan-Headers
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
[submodule "Src/External/glslang"]
	path = Src/External/glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "Src/External/luau"]
	path = Src/External/luau
	url = git@github.com:luau-lang/luau.git
